extends navYpie

block contacto
  // seccion de cambio para contenido de la pagina
  section#variante.container
    #cuerpo.row
    //FORMULARIO
    .container.row
      h3 Contacto
      form.form-horizontal(action="#",name="contacto",method="post",autocomplete="on")
        .form-group
          .col-sm-offset-1.col-sm-2.control-label(for="nombre") Nombre:
          .col-sm-4
            input.form-control(type="nombre" id="nombre" autocomplete="nombre" placeholder="su nombre" required="required")
        
        .form-group
          .col-sm-offset-1.col-sm-2.control-label(for="item") Seleccione:
          .col-sm-4
            input.form-control(type="text" id="problemas" name="problema" list="problema")
            datalist#problema
              option(value="quejas") Queja
              option(value="reclamo") Reclamo
              option(value="sugerencia") sugerencias
          
        .form-group
          label.col-sm-offset-1.col-sm-2.control-label(for="comentario") Su comentario:
          .col-sm-4
            textarea#comentario.form-control(rows="5")
              
        .form-group
          .col-sm-offset-5.col-sm-7
            button.btn.btn-danger.btn-lg(type="submit", formaction="index.html") Enviar
