extends navYpie

block iniciosesion
  // seccion de cambio para contenido de la pagina
  #variante.container
    #cuerpo.row
    // FORMULARIO
    .container.row
      h3 INICIO DE SESION
      form.form-horizontal(action="#", name="iniciosesion", method="get", autocomplete="on")
        .form-group
          label.col-sm-offset-1.col-sm-2.control-label(for="email") Correo:
          .col-sm-4
            input.form-control(type="email", id="email", autocomplete="email", placeholder="correo@electronico.com", required="required")
        
        .form-group
          label.col-sm-offset-1.col-sm-2.control-label(for="clave") Clave:
          .col-sm-4
            input.form-control#clave(type="password", required="required")
          
        .form-group
          .col-sm-offset-5.col-sm-7
            button.btn.btn-danger(type="submit",  formaction="index.html") Enviar
            
