doctype html
html(lang="es")
  head
    title Proyecto
    meta(charset="utf-8")
    meta(name='viewport',content='width=device-width, initial-scale=1')
    meta(name="autor",content="Julio Realpe,Renato Illescas,Brenda Bermello,Lenin Tenecela")
    meta(name="description",content="Sitio web de venta de vestidos por catalogo para mujeres")
    meta(name="keywords",content="vestidos, mujeres, prendas, gala")
    // BOOTSTRAP
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    // FONTS AWESONE
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    // GOOGLE FONTS
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Josefin+Slab")
    // BOOTSTRAP SOCIAL NETWORKS
    link(rel="stylesheet", href="css/bootstrap-social.css")
    // ESTILO DE LA PAGINA
    link(rel="stylesheet", href="css/estilo.css")
  body
    block cabecera
    block inicio
    
    block registro
    block iniciosesion
    block micarrito
    
    block catalogo
    block paracompras
    block tiendas
    block contacto
    block pie
