extends navYpie

block micarrito
  // seccion de cambio para contenido de la pagina
  section#variante.container
    // lectura desde un json
    #cuerpo.row
      .table-responsive
        table.table.table-striped
          thead
            tr
              th Imagen
              th Articulo
              th Talla
              th Cantidad
              th Precio Unit
              th Descuento
              th Precio
          tbody#cargacompra
            // datos aqui
