extends varianteInicio

block pie
  // seccion informacion y Redes Sociales
  section.container.informacion
    .row
      section.mails.col-xs-12.col-sm-6.col-md-6
        form
          span.glyphicon.glyphicon-envelope  NOTICIAS: 
            input(type="email" name="email" required="required")
          input(type="submit")
      section.redesSociales.col-xs-12.col-sm-6.col-md-6
        h2 Redes Sociales
        ul
          li.btn.btn-social-icon.btn-facebook
            span.fa.fa-facebook
          li.btn.btn-social-icon.btn-instagram
            span.fa.fa-instagram
          li.btn.btn-social-icon.btn-twitter
            span.fa.fa-twitter
          li.btn.btn-social-icon.btn-pinterest
            span.fa.fa-pinterest

  // Pie de pagina
  footer.container
    nav.menuEmpresa
      a(href="#") La Empresa -
      a(href="#")  Mision -
      a(href="#")  Vision
      a#administracion(href="graficoD3")
        span.glyphicon.glyphicon-eye-open Administracion
    h4#derechos
      span.glyphicon.glyphicon-copyright-mark Derechos Reservados
  // JQUERY
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  // BOOTSTRAP
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  // Mi JQuery
  script(src="js/catalogo.js")
