doctype html
head
  meta(charset="utf-8")
  title Administracion
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
body
  h1.container Administracion de Usuarios
  
  nav.navbar.navbar-inverse
    .container
      .navbar-header
        button.navbar-toggle(type="button" data-toggle="collapse" data-target="#myNavbar")
          span.icon-bar
          span.icon-bar
          span.icon-bar
      #myNavbar.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a(href="/cargarUsuarios") Lista Usuarios
          li
            a(href="/registro") Agregar
  block parapruebas
  
  // JQUERY
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  // BOOTSTRAP
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  // mi jquery
  script(src="../js/paraborrar.js")
    
